@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4f46e5; /* Indigo */
  --color-primary-light: color-mix(in srgb, var(--color-primary) 50%, white);
  --color-primary-hover: #4338ca;
  --color-bg:        #f5f7ff;
}

.theme-emerald {
  --color-primary: #10b981;
  --color-primary-hover: #059669;
  --color-bg: #f0fdf4;
}

.theme-pink {
  --color-primary: #ec4899;
  --color-primary-hover: #db2777;
  --color-bg: #fdf2f8;
}
body {
  font-family: 'Inter', sans-serif;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 4px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #0062E0;
  border-radius: 20px;
}

.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem;
  border-radius: 9999px;
  background-color: #e0e7ff;
  color: #4338ca;
  font-size: 0.875rem;
  font-weight: 500;
}

.tag-remove {
  margin-left: 0.5rem;
  cursor: pointer;
  color: #6b7280;
}

.tag-remove:hover {
  color: #1f2937;
}

/* Asegura que el autocompletado de Google se muestre sobre los modales */
.pac-container {
  z-index: 10000 !important;
}